@font-face {
    font-family: 'PDMS_Saleem_QuranFont';
    src: url('_PDMS_Saleem_QuranFont.eot');
    src: url('_PDMS_Saleem_QuranFont.eot?#iefix') format('embedded-opentype'),
        url('_PDMS_Saleem_QuranFont.woff2') format('woff2'),
        url('_PDMS_Saleem_QuranFont.woff') format('woff'),
        url('_PDMS_Saleem_QuranFont.ttf') format('truetype'),
        url('_PDMS_Saleem_QuranFont.svg#_PDMS_Saleem_QuranFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

